<div class="current-user">
	<%= link_to user_path(user) do %>
		<%= attachment_image_tag user, :profile_image_id, :fill, 100, 100, fallback: "no_image_user.png", size: "100x100", class: "user-image img-circle" %>
		<h4 class="current-user-name"><strong><%= user.name %></strong></h4>
	<% end %>
</div>

<div class="follow-box">
	<p class="follow">
		フォロー：
		<%= link_to followings_user_path(user) do %>
			<strong><%= user.followings.count %></strong>
		<% end %>
	</p>
	<p class="follow">
		フォロワー：
		<%= link_to followers_user_path(user) do %>
			<strong><%= user.followers.count %></strong>
		<% end %>
	</p>
</div>

<table class="table">
	<tr>
		<th>
			<%= link_to new_song_path do %>
				<i class="fas fa-external-link-alt" style="font-size: 20px;"></i>
				&nbsp;<strong>新規投稿</strong>
			<% end %>
		</th>
	</tr>
	<tr>
		<th>
			<%= link_to notifications_path do %>
				<i class="far fa-bell"  style="font-size: 23px;"></i>
				&nbsp;<strong>通知</strong>
				<!--未確認の通知があればアイコンを表示-->
				<% if unchecked_notifications.any? %>
					<i class="fas fa-exclamation-circle" style="color: orange;" style="font-size: 20px;"></i>
				<% else %>
					<i class="fas fa-exclamation-circle" style="display: none;"></i>
				<% end %>
			<% end %>
		</th>
	</tr>
	<tr>
		<th>
			<%= link_to favorites_user_path(user) do %>
				<i class="fas fa-heart" style="font-size: 20px"></i>
				&nbsp;<strong>いいねリスト</strong>
			<% end %>
		</th>
	</tr>
	<tr>
		<th>
			<%= link_to edit_user_path(user) do %>
				<i class="fas fa-user-edit" style="font-size: 20px;"></i>
				&nbsp;<strong>プロフィールを編集</strong>
			<% end %>
		</th>
	</tr>
	<tr>
		<th>
			<%= link_to destroy_user_session_path, method: :delete do %>
				<i class="fas fa-sign-out-alt" style="font-size: 23px;"></i>
				&nbsp;<strong>ログアウト</strong>
			<% end %>
		</th>
	</tr>
</table>


