<div class="row">
	<!--サイドバー-->
	<div class="col-lg-3">
		<%= render "sidebar", user: current_user %>
	</div>
	<!--サイドバー-->

	<div class="col-lg-9">
		<% @user.each do |user| %>
			<table>
				<tr>
					<td width="20%">
						<%= attachment_image_tag user, :profile_image_id, :fill, 80, 80, fallback: "no_image_user.png", size: "80x80" %>
					</td>
					<td class="user-profile" width="60%">
						<h4><%= user.name %></h4>
					</td>
					<td class="user-profile">
						<%= user.introduction %>
					</td>
					<td class="user-profile" width="">
						<%= link_to followings_user_path(user) do %>
							フォロー：<%= user.followings.count %>
						<% end %>
					</td>
					<td class="user-profile">
						<%= link_to followers_user_path(@user) do %>
							フォロワー：<%= user.followers.count %>
						<% end %>
					</td>
					<td class="user-profile">
						<%= link_to "いいね", favorites_user_path(user) %>
					</td>
					<!--フォローボタン-->
					<td width="20%">
						<%= render "relationships/follow_button", user: user %>
					</td>
					<!--フォローボタン-->
				</tr>
			</table>
		<% end %>
	</div>
</div>