<div class="row">
	<div class="col-lg-3">
		<%= render "sidebar", user: current_user %>
	</div>
	<!--<%=  %>-->
	<div class="col-lg-9">
		<h2>いいねリスト</h2>

		<div class="song-list">
			<% @user.favorite_songs.each do |song| %>
				<div class="song text-center">
					<%= link_to song_path(song.id) do %>
						<div class="song-img">
							<%= attachment_image_tag song, :image, :fill, 200, 120, fallback: "no_image_song.jpg", size: "200x120" %>
						</div>
						<h4 class="song-piece" style="margin-top: 15px;">
							<span class="note">♪</span> <%= song.title %>
						</h4>
					<% end %>
						<div class="song-piece">
							<%= song.artist_name %>
						</div>
						<div class="song-piece">
							<i class="fas fa-heart" style="font-size: 15px; color: red;" ></i><strong>	<%= song.favorites.count %></strong>
							<i class="far fa-comment" style="margin-left: 10px;"> <strong>	<%= song.comments.count %></strong></i>
						</div>
				</div>
			<% end %>
		</div>
		
	</div>
</div>