<div class="row">
	<div class="col-lg-3">
		<%= render "users/sidebar", user: current_user %>
	</div>
	<!--<%=  %>-->
	<div class="col-lg-9">
		<h2>投稿編集ページ</h2>	
		<!--エラー表示-->
		<% if @song.errors.any? %>
			<h3><%= @song.errors.count %></h3>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>
		<!--エラー表示-->
		<!--編集フォーム-->
		<%= form_for(@song) do |f| %>
			<div class="song-container">
				<div class="song-field">
					<%= f.label :"イメージ画像", class: "field-title" %>
					<%= f.attachment_field :image, class: "field" %>
				</div>

				<div class="song-field">
					<%= f.label :"曲名", class: "field-title" %>
					<%= f.text_field :title, class: "field-class" %>
				</div>

				<div class="song-field">
					<%= f.label :"アーティスト名", class: "field-title" %>
					<%= f.text_field :artist_name, class: "field field-class" %>
				</div>

				<div class="song-field">
					<%= f.label :"本文", class: "field-title" %>
					<%= f.text_area :body, class: "field area-class" %>
				</div>

				<div class="action">
					<%= f.submit "編集を保存する", class: "btn btn-success" %>
				</div>
			</div>
		<% end %>
	</div>
</div>	