<div class="row">
	<!--レイアウト用-->
	<div class="col-sm-2"></div>
	<!--レイアウト用-->
	
	<div class="col-sm-8">
		<% @songs.each do |song| %>
			<%= link_to song_path(song.id) do %>
				<div class="card">
					<div class="card-img-top">
						<%= attachment_image_tag song, :image, :fill, 100, 60, fallback: "no_image_song.jpg", size: "100x60" %>
					</div>
					<div class="card-body">
						<h3 class="card-title">
							<span class="note">♪</span> <%= song.title %>
						</h3>
						<div class="card-title">
							アーティスト：<%= song.artist_name %>
						</div>
						<div class="card-text">
							<%= song.body %>
						</div>
						<div class="card-footer">
							<%= song.user.name %>
							<!--<%=  %>-->

							<!--いいね機能-->
							<% if song.favorited_by?(current_user) %>
								<%= link_to song_favorites_path(song), method: :delete do %>
									<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;" style="font-size: 15px"></span>
									<%= song.favorites.count %>
								<% end %>
							<% else %>
								<%= link_to song_favorites_path(song), method: :post do %>
									<span class="glyphicon glyphicon-heart" aria-hidden="true" style="font-size: 15px"></span>
									<%= song.favorites.count %>
								<% end %>
							<% end %>
							<!--いいね機能-->
							<!--コメント数-->
							<p>コメント数：<%= song.comments.count %></p>
							<!--コメント数-->
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>

	<!--レイアウト用-->
	<div class="col-sm-2"></div>
	<!--レイアウト用-->
</div>	