<div class="row">
	<div class="col-lg-3">
		<%= render "users/sidebar", user: current_user %>
	</div>
	
	<div class="col-sm-9">
		<div class="song-index-head">
			<h2>投稿一覧</h2>
			<!--投稿検索フォーム-->
	        <%= form_with(url: search_songs_path, local: true, method: :get, class: "search-form") do |f| %>
	            <span class="glyphicon glyphicon-search" aria-hidden="true">　</span>
	            <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
	            <%= f.submit "検索", class: "search-btn" %>
	        <% end %>
		</div>
		
		<% @songs.each do |song| %>
			<div class="card-deck">
				<%= link_to song_path(song.id) do %>
					<div class="card" style="width: 30rem">
						<div class="card-img-top">
							<%= attachment_image_tag song, :image, :fill, 200, 120, fallback: "no_image_song.jpg", size: "200x120" %>
						</div>
						<div class="card-body">
							<h3 class="card-title">
								<span class="note">♪</span> <%= song.title %>
							</h3>
							<div class="card-subtitle">
								アーティスト：<%= song.artist_name %>
							</div>
							<div class="card-text">
								<%= song.body %>
							</div>
							<div class="card-footer">
								<%= song.user.name %>
								<!--<%=  %>-->

								<!--いいね機能-->
								<%= render "favorites/favorite_button", song: song %>
								
								<!--コメント数-->
								<i class="far fa-comment"> <%= song.comments.count %></i>
								
							</div>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>

</div>	