<div class="row">
	<div class="col-lg-3">
		<%= render "users/sidebar", user: current_user %>
	</div>
	
	<div class="col-sm-9">
		<div class="song-index-head">
			<h2>投稿一覧</h2>
			<!--投稿検索フォーム-->
	        <%= form_with(url: search_songs_path, local: true, method: :get, class: "search-form") do |f| %>
	            <span class="glyphicon glyphicon-search" aria-hidden="true">　</span>
	            <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
	            <%= f.submit "検索", class: "search-btn" %>
	        <% end %>
		</div>
		
		<div class="card-deck">
			<% @songs.each do |song| %>
				<div class="card" style="width: 30rem">
					<%= link_to song_path(song.id) do %>
						<div class="card-img-top">
							<%= attachment_image_tag song, :image, :fill, 200, 120, fallback: "no_image_song.jpg", size: "200x120" %>
						</div>
						<div class="card-body">
							<h3 class="card-title">
								<span class="note">♪</span> <%= song.title %>
							</h3>
							<div class="card-subtitle">
								アーティスト：<%= song.artist_name %>
							</div>
					<% end %>
							<div class="card-text">
								<p class="card-bottom">
									投稿者:
									<%= link_to user_path(song.user_id) do %>
										<%= song.user.name %>
									<% end %>
								</p>
								<p class="card-bottom">
									<!--いいね機能-->
									<%= render "favorites/favorite_button", song: song %>
								</p>
								<p class="card-bottom">
									<!--コメント数-->
									<i class="far fa-comment"> <%= song.comments.count %></i>
								</p>					
										<!--<%=  %>-->
							</div>
						</div>
				</div>
			<% end %>	
		</div>
		
	</div>

</div>	