<div class="row">
	<div class="col-lg-3">
		<%= render "users/sidebar", user: current_user %>
	</div>
	<!--新規投稿フォーム-->
	<div class="col-lg-1"></div>

	<div class="col-lg-6">
		<% if @song.errors.any? %>
			<h4><%= @song.errors.count %>errors</h4>
			<ul>
				<% @song.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>
		<div class="background">
			<div class="song-new-box text-center">
				<div class="song-masking">
					<h1 class="page-title">新規投稿</h1>
					<!--エラーメッセージ-->
					

					<!--新規投稿フォーム-->
					<%= form_for(@song) do |f| %>
						<div class="song-container">
							<div class="song-field">
								<strong><p>イメージ画像</p></strong>
								<%= f.attachment_field :image, class: "field" %>
							</div>

							<div class="song-field">
								<strong><p>曲名</p></strong>
								<%= f.text_field :title, class: "field-class" %>
							</div>

							<div class="song-field">
								<strong><p>アーティスト名</p></strong>
								<%= f.text_field :artist_name, class: "field field-class" %>
							</div>

							<div class="song-field">
								<strong><p>本文</p></strong>
								<%= f.text_area :body, class: "field area-class" %>
							</div>

							<div class="actions field">
								<%= f.submit "投稿する", class: "btn btn-primary" %>
							</div>
						</div>
					<% end %>
				</div>
				
			</div>
		</div>
	</div>

	<div class="col-lg-2"></div>

</div>