<div class="row">
	<div class="col-lg-3">
		<%= render "users/sidebar", user: current_user %>
	</div>
	<!--新規投稿フォーム-->
	<div class="col-lg-9">
		<h2>新規投稿</h2>
			<!--エラーメッセージ-->
		<% if @song.errors.any? %>
			<h4><%= @song.errors.count %>errors</h4>
			<ul>
				<% @song.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>

		<%= form_for(@song) do |f| %>
			<div class="song-container">
				<div class="song-field">
					<%= f.label :"イメージ画像", class: "field-title" %>
					<%= f.attachment_field :image, class: "field" %>
				</div>

				<div class="song-field">
					<%= f.label :"曲名", class: "field-title" %>
					<%= f.text_field :title, class: "field-class" %>
				</div>

				<div class="song-field">
					<%= f.label :"アーティスト名", class: "field-title" %>
					<%= f.text_field :artist_name, class: "field field-class" %>
				</div>

				<div class="song-field">
					<%= f.label :"本文", class: "field-title" %>
					<%= f.text_area :body, class: "field area-class" %>
				</div>

				<div class="actions field">
					<%= f.submit "投稿する", class: "btn btn-primary" %>
				</div>
			</div>
		<% end %>
	</div>
	<!--新規投稿フォーム-->

</div>