<div class="row">

	<div class="col-lg-3">
		<%= render "users/sidebar", user: current_user %>
	</div>

	<div class="col-lg-9">
		<% @songs.each do |song| %>
			<%= link_to song_path(song.id) do %>
				<div class="card">
					<div class="card-img-top">
						<%= attachment_image_tag song, :image, :fill, 100, 60, fallback: "no_image_song.jpg", size: "100x60" %>
					</div>
					<div class="card-body">
						<h3 class="card-title">
							<span class="note">♪</span> <%= song.title %>
						</h3>
						<div class="card-title">
							アーティスト：<%= song.artist_name %>
						</div>
						<div class="card-text">
							<%= song.body %>
						</div>
						<div class="card-footer">
							<%= song.user.name %>
							<!--<%=  %>-->

							<!--いいね機能-->
							<%= render "favorites/favorite_button", song: song %>

							<!--コメント数-->
							<p>コメント数：<%= song.comments.count %></p>
							
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
	
</div>