<div class="row">
	<!--レイアウト用-->
	<div class="col-sm-4"></div>
	<!--レイアウト用-->

	<!--投稿詳細-->
	<div class="col-sm-4">
		<div class="card">
			<div class="card-img-top">
				<%= attachment_image_tag @song, :image, :fill, 100, 60, fallback: "no_image_song.jpg", size: "200x120" %>
			</div>
			<div class="card-body">
				<h3 class="card-title">
					<span>♪</span> <%= @song.title %>
				</h3>
				<div class="card-title">
					アーティスト名：<%= @song.artist_name %>
				</div>
				<div class="card-text">
					<%= @song.body %>
				</div>
				<div class="card-footer">
						<%= @song.user.name %>
				</div>
			</div>
		</div>
	</div>
	
	<!--投稿詳細-->
	
	<!--レイアウト用-->
	<div class="col-sm-4"></div>
	<!--レイアウト用-->
</div>