<div class="row">
	<!--レイアウト用-->
	<div class="col-3"></div>
	<!--レイアウト用-->

	<!--投稿詳細-->
	<div class="col-9">
		<div class="card">
			<div class="card-img-top">
				<%= attachment_image_tag @song, :image, :fill, 100, 60, fallback: "no_image_song.jpg", size: "200x120" %>
			</div>
			<div class="card-body">
				<h3 class="card-title">
					<span>♪</span> <%= @song.title %>
				</h3>
				<div class="card-title">
					アーティスト名：<%= @song.artist_name %>
				</div>
				<div class="card-text">
					<%= @song.body %>
				</div>
				<div class="card-footer">
					<%= @song.user.name %>

					<%=  %>

					<!--いいね機能-->
					<% if @song.favorited_by?(current_user) %>
						<%= link_to song_favorite_path(@song), method: :delete do %>
							<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;" style="font-size: 15px"></span>
							<%= @song.favorites.count %>
						<% end %>
					<% else %>
						<%= link_to song_favorites_path(@song), method: :post do %>
							<span class="glyphicon glyphicon-heart" aria-hidden="true" style="font-size: 15px"></span>
							<%= @song.favorites.count %>
						<% end %>
					<% end %>
					<!--いいね機能-->
				</div>
			</div>
		</div>
	</div>
	<!--投稿詳細-->
</div>

<div class="row">
	<!--コメント機能-->
	<div class="col-3"></div>
	<div class="col-9">
		<div class="comment-list">
			<table class="table">
				<tbody>
					<% @comments.each do |comment| %>
					<tr>
						<td>
							<%= link_to comment.user do %>
								<%= attachment_image_tag comment.user, :profile_image_id, :fill, 50, 50, fallback: "no_image_song.jpg", size: "50x50" %>
								<%= comment.user.name %>
							<% end %>
						</td>
						<td>
							<%= comment.comment %>
						</td>

						<% if comment.user == current_user %>
						<td>
							<%= link_to "削除", song_comment_path(comment.song, comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
						</td>
						<% end %>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="comment-form">
			<%= form_for [@song, @comment] do |f| %>
				<%= f.text_area :comment %>
				<%= f.submit "送信" %>
			<% end %>
		</div>
	</div>
	<!--コメント機能-->
</div>










